:root {
    --color-background: #D3D4D9;
    --color-button: #4B88A2;
    --color-background-clock: #BB0A21;
    --color-dark-black: #252627;
    --color-light-snow: #FFF9FB;
    
    font-family: "Baloo Tamma 2";
    font-size: 40%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

body {
    background: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container #clock {
    display: flex;

    height: 3.2rem;
    width: 8.5rem;
    background: var(--color-background-clock);
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    
    border-radius: 1px;
}

.container #clock span {
    margin-top: 0.6rem;
    font-size: 3.4rem;
}
.container .buttons #reset {
    width: 3.2rem;
    height: 1.2rem;
}

.container .buttons button {
    font: 400 0.8rem "Baloo Tamma 2";

    width: 2.5rem;
    height: 1.2rem;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 1px;
    background: var(--color-button);

    margin: 0.2rem;
}
